* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif!important;
}
a {
    text-decoration: none;
}

.navbar-farid {
    background-color:rgb(223, 191, 12);
    color: white;
}

.navbar-farid img {
    width: 50px;
    margin-left: 30px;
}

.navbar-farid div {
    display: inline-block;
}

.navbar-farid >div >ul >li {
    display: inline-block;
}

.navbar-farid >div >ul >li >a {
    color: white;
    margin-right: 30px;
}

.header {
    margin-left: 700px;
}

div + p {
   color: blue; 
}

.nombre1 + .nombre2 {
    color: red;
}
table {
    border: 1px solid black;
}

table td {
    background-color: aqua;
    border: 1px solid pink;

}